version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
{{- if .FrontendName}}

  - package-ecosystem: npm
    directory: /frontends/{{.FrontendName}}
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
{{- end}}

  - package-ecosystem: docker
    directory: /
    schedule:
      interval: weekly
    open-pull-requests-limit: 5

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
